html, body{
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.0vw;
}

.navbar{
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	font-family: 'Source Sans Pro', sans-serif;
	height: 3.65vw;
	font-size: 1.0vw;
}

#map{
	height: 100%;
    width: 100%;
	display: block;
	posiotion: absolute;
	bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.homebtn{
    border: none;
	outline: none;
	color: white;
	width: 4vw;
	height: 4.15vw;
	cursor: pointer;
	font-size: 2vw;
    background-color: inherit;
    margin-top: -0.5vw;
}

.dropdown{
	float: left;
	overflow: hidden;
	display: inline-block;
}

.dropbtn{
	border: none;
	outline: none;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.0vw;
	font-weight: bold;
	width: 18vw;
    height: 3.65vw;
    background-color: inherit;
}

a:hover, .dropbtn:hover, #home:hover{
	background-color: rgb(220, 20, 60) !important;
}

.dropdown-content{
	display: none;
	position: absolute;
	z-index: 1;
	width: 18vw;
}

.dropdown-content a{
	float: none;
	color: white;
	font-weight: bold;
	padding-top: 0.6vw;
	padding-bottom: 0.6vw;
	padding-left: 0.1vw;
	padding-right: 0.1vw;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.8);
	display: block;
	text-align: center;
	cursor: pointer;
}

.dropdown-content label{
	float: none;
	color: white;
	font-weight: bold;
	padding-top: 1vw;
	padding-bottom: 1vw;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.8);
	display: block;
	text-align: center;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.searchDiv{
	float: right;
	margin-left: 1vw;
	display: inline-block;
}

#searchInput{
	font-size: 0.9vw;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
	text-overflow: ellipsis;
	margin-top: 0.35vw;
	width: 27vw;
	height: 2.5vw;
	margin-right: 1vw;
	cursor: pointer;
	text-align: center;
}

.autocomplete-content{
	display: none;
	position: absolute;
	z-index: 1;
	width: 27vw;
	margin-top: 0.05vw;
	background-color: rgb(255, 255, 255);
    font-size: 0.9vw;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
    text-align: center;
}

.searchDiv:hover .autocomplete-content{
	display: block;
}

input:focus + .autocomplete-content{
	display: block;
}

.autocomplete-content:hover .ac_butt:not( :hover ) {
	background-color: white !important;
	color: black !important;
}

.ac_butt{
    border: 0.5px solid black;
}

.ac_butt:hover{
	background-color: rgb(220, 20, 60) !important;
	color: white !important;
}

#srch_lbl{
    float: right;
	margin-top: 1.1vw;
	margin-right: -0.5vw;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	color: white;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

.clearbtn{
    float: right;
    border: none;
    outline: none;
    color: white;
    width: 4vw;
    height: 4.5vw;
    cursor: pointer;
    font-size: 2vw;
    background-color: inherit;
    margin-top: -0.8vw;
    display: inline-block;
}

.clearbtn:hover{
	background-color: inherit !important;
}

.tltip_stl{
    position: absolute;
    font-size: 40px;
    font-weight: 1500;
    background-color: transparent !important;
    border: none !important;
    color: white !important;
    box-shadow: none !important;
}