html, body{
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.0vi;
}

.navbar{
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	font-family: 'Source Sans Pro', sans-serif;
	height: 3.65vi;
	font-size: 1.0vi;
}

#map{
	height: 100%;
    width: 100%;
	display: block;
	posiotion: absolute;
	bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.homebtn{
    border: none;
	outline: none;
	color: white;
	width: 4vi;
	height: 4.15vi;
	cursor: pointer;
	font-size: 2vi;
    background-color: inherit;
    margin-top: -0.5vi;
}

.dropdown{
	float: left;
	overflow: hidden;
	display: inline-block;
}

.dropbtn{
	border: none;
	outline: none;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.0vi;
	font-weight: bold;
	width: 18vi;
    height: 3.65vi;
    background-color: inherit;
}

a:hover, .dropbtn:hover, #home:hover{
	background-color: rgb(220, 20, 60) !important;
}

.dropdown-content{
	display: none;
	position: absolute;
	z-index: 1;
	width: 18vi;
}

.dropdown-content a{
	float: none;
	color: white;
	font-weight: bold;
	padding-top: 0.6vi;
	padding-bottom: 0.6vi;
	padding-left: 0.1vi;
	padding-right: 0.1vi;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.8);
	display: block;
	text-align: center;
	cursor: pointer;
}

.dropdown-content label{
	float: none;
	color: white;
	font-weight: bold;
	padding-top: 1vi;
	padding-bottom: 1vi;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.8);
	display: block;
	text-align: center;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.searchDiv{
	float: right;
	margin-left: 1vi;
	display: inline-block;
}

#searchInput{
	font-size: 0.9vi;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
	text-overflow: ellipsis;
	margin-top: 0.35vi;
	width: 27vi;
	height: 2.5vi;
	margin-right: 1vi;
	cursor: pointer;
	text-align: center;
}

.autocomplete-content{
	display: none;
	position: absolute;
	z-index: 1;
	width: 27vi;
	margin-top: 0.05vi;
	background-color: rgb(255, 255, 255);
    font-size: 0.9vi;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
    text-align: center;
}

.searchDiv:hover .autocomplete-content{
	display: block;
}

input:focus + .autocomplete-content{
	display: block;
}

.autocomplete-content:hover .ac_butt:not( :hover ) {
	background-color: white !important;
	color: black !important;
}

.ac_butt{
    border: 0.05vi solid black;
}

.ac_butt:hover{
	background-color: rgb(220, 20, 60) !important;
	color: white !important;
}

#srch_lbl{
    float: right;
	margin-top: 1.1vi;
	margin-right: -0.5vi;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	color: white;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

.clearbtn{
    float: right;
    border: none;
    outline: none;
    color: white;
    width: 4vi;
    height: 4.5vi;
    cursor: pointer;
    font-size: 2vi;
    background-color: inherit;
    margin-top: -0.8vi;
    display: inline-block;
}

.clearbtn:hover{
	background-color: inherit !important;
}

.tltip_stl{
    position: absolute;
    font-size: 2.5vi;
    font-weight: 1500;
    background-color: transparent !important;
    border: none !important;
    color: white !important;
    box-shadow: none !important;
}

.loader {
    position: absolute;
    top: calc(50% - 9vi);
    left: calc(50% - 9vi);
    width: 18vi;
    height: 18vi;
    border-radius: 50%;
    perspective: 50vi;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 70%;
}

.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 1vi solid #003366;
}

.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 1vi solid #f6546a;
}

.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 1vi solid #66cdaa;
}

@keyframes rotate-one {
    0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    opacity: 0.7;
    background-color: black;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 10vi;
    left: 12vi;
    z-index: 100;
}

h1{
    color: white;
    margin-top: 40%;
    font-size: 2vi;
}

h2{
    color: white;
    margin-top: -5%;
    font-size: 2vi;
}